# 保健品市场环境分析

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('health.csv')
data.head()

,q5_01,q5_02,q5_03,q5_04,q5_05,q5_06,q5_07,q5_08,q5_09,q5_10,...,q5_15,q5_16,q5_17,q5_18,q5_19,q5_20,q8,w1,w2,w6
0,3,3,4,5,5,5,4,5,3,4,...,5,5,2,3,4,4,9,1,4,1
1,5,4,5,5,5,5,5,4,4,4,...,5,5,5,4,4,5,9,1,5,1
2,5,5,5,5,1,1,4,1,1,1,...,5,1,1,5,1,1,9,2,2,8
3,3,5,5,1,1,1,4,5,4,4,...,3,4,4,1,1,5,9,1,4,11
4,5,4,2,2,3,4,4,3,4,3,...,3,4,3,4,5,3,9,1,4,11

In [3]:
sub_data = data.loc[:, :'q5_20']

In [4]:
sub_data

,q5_01,q5_02,q5_03,q5_04,q5_05,q5_06,q5_07,q5_08,q5_09,q5_10,q5_11,q5_12,q5_13,q5_14,q5_15,q5_16,q5_17,q5_18,q5_19,q5_20
0,3,3,4,5,5,5,4,5,3,4,4,4,3,4,5,5,2,3,4,4
1,5,4,5,5,5,5,5,4,4,4,4,3,4,4,5,5,5,4,4,5
2,5,5,5,5,1,1,4,1,1,1,5,1,1,5,5,1,1,5,1,1
3,3,5,5,1,1,1,4,5,4,4,4,2,3,4,3,4,4,1,1,5
4,5,4,2,2,3,4,4,3,4,3,2,5,3,2,3,4,3,4,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,3,4,4,1,1,5,4,4,5,4,5,1,4,5,5,5,5,5,1,1
621,4,3,5,4,3,4,5,4,4,4,5,3,4,3,5,4,3,4,5,3
622,3,4,5,4,4,1,4,5,5,4,5,1,4,5,5,4,1,1,1,1
623,4,4,3,5,1,5,4,4,4,5,5,4,3,5,5,1,4,4,2,5
624,5,5,5,3,1,2,4,2,2,4,4,4,1,4,5,5,1,1,1,4

```
q5_01,令面色红润,无
q5_02,使皮肤有光泽,无
q5_03,精神状态好,无
q5_04,去斑,无
q5_05,去痘,无
q5_06,去皱,无
q5_07,解决皮肤干燥,无
q5_08,调节内分泌,无
q5_09,延缓皮肤衰老,无
q5_10,去除疲劳,无
q5_11,提高睡眠质量,无
q5_12,消除黑眼圈,无
q5_13,通便润肠,无
q5_14,抗衰老,无
q5_15,提高免疫力,无
q5_16,应该对自己好点,无
q5_17,希望自己像模特一样,无
q5_18,同龄人都在服用,无
q5_19,年轻人对我说该服用,无
q5_20,女为悦己整容,无
q8,主要服用的产品,"{1:'太太**',2:'乌鸡**',3:'排毒**',4:'阿*',5:'红桃*',6:'脑白*',7:'朵**',9:'其他'}"
w1,婚姻,"{1:'未婚', 2:'已婚'}"
w2,教育,无
w6,个人收入,无
```

In [5]:
desc = sub_data.describe()
desc

,q5_01,q5_02,q5_03,q5_04,q5_05,q5_06,q5_07,q5_08,q5_09,q5_10,q5_11,q5_12,q5_13,q5_14,q5_15,q5_16,q5_17,q5_18,q5_19,q5_20
count,625.000000,625.000000,625.0000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.00000,625.00000,625.000000,625.000000,625.000000,625.000000,625.000000
mean,3.804800,3.932800,4.1552,3.305600,2.760000,3.276800,3.683200,3.643200,3.750400,3.900800,3.844800,3.139200,3.438400,3.66560,4.03200,3.868800,2.694400,3.036800,3.032000,3.275200
std,1.288625,1.173408,1.0454,1.485308,1.561763,1.545835,1.353576,1.382951,1.371097,1.149031,1.290961,1.406766,1.413011,1.41144,1.18711,1.261639,1.559005,1.386839,1.358355,1.417985
min,1.000000,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,3.000000,4.0000,2.000000,1.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,2.000000,3.00000,3.00000,3.000000,1.000000,2.000000,2.000000,2.000000
50%,4.000000,4.000000,4.0000,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.00000,4.00000,4.000000,2.000000,3.000000,3.000000,3.000000
75%,5.000000,5.000000,5.0000,5.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,5.00000,5.00000,5.000000,4.000000,4.000000,4.000000,5.000000
max,5.000000,5.000000,5.0000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000

In [6]:
corr = sub_data.corr()

In [7]:
corr[corr > 0.4] = 9999
corr[corr < 0.4] = 0

In [8]:
corr

,q5_01,q5_02,q5_03,q5_04,q5_05,q5_06,q5_07,q5_08,q5_09,q5_10,q5_11,q5_12,q5_13,q5_14,q5_15,q5_16,q5_17,q5_18,q5_19,q5_20
q5_01,9999.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_02,9999.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_03,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_04,0.0,0.0,0.0,9999.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_05,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_06,0.0,0.0,0.0,9999.0,0.0,9999.0,9999.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_07,0.0,0.0,0.0,0.0,0.0,9999.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_09,0.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0
q5_16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0
q5_17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0
q5_18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,9999.0,0.0
q5_19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,9999.0,0.0
q5_20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0

In [9]:
mean_score = desc.loc['mean'].sort_values(ascending=False)
fields = pd.read_csv(filepath_or_buffer='health_headers_intro.csv',
                     encoding='gbk',
                     header=None,
                     names=['fid', 'effect', '_'],
                     usecols=['fid', 'effect'],
                     index_col='fid')
fields

          effect
fid
q5_01      令面色红润
q5_02     使皮肤有光泽
q5_03      精神状态好
q5_04         去斑
q5_05         去痘
q5_06         去皱
q5_07     解决皮肤干燥
q5_08      调节内分泌
q5_09     延缓皮肤衰老
q5_10       去除疲劳
q5_11     提高睡眠质量
q5_12      消除黑眼圈
q5_13       通便润肠
q5_14        抗衰老
q5_15      提高免疫力
q5_16    应该对自己好点
q5_17  希望自己像模特一样
q5_18    同龄人都在服用
q5_19  年轻人对我说该服用
q5_20     女为悦己者容
q8       主要服用的产品
w1            婚姻
w2            教育
w6          个人收入

In [10]:
fields['mean_score'] = mean_score

In [11]:
fields

          effect  mean_score
fid
q5_01      令面色红润      3.8048
q5_02     使皮肤有光泽      3.9328
q5_03      精神状态好      4.1552
q5_04         去斑      3.3056
q5_05         去痘      2.7600
q5_06         去皱      3.2768
q5_07     解决皮肤干燥      3.6832
q5_08      调节内分泌      3.6432
q5_09     延缓皮肤衰老      3.7504
q5_10       去除疲劳      3.9008
q5_11     提高睡眠质量      3.8448
q5_12      消除黑眼圈      3.1392
q5_13       通便润肠      3.4384
q5_14        抗衰老      3.6656
q5_15      提高免疫力      4.0320
q5_16    应该对自己好点      3.8688
q5_17  希望自己像模特一样      2.6944
q5_18    同龄人都在服用      3.0368
q5_19  年轻人对我说该服用      3.0320
q5_20     女为悦己者容      3.2752
q8       主要服用的产品         NaN
w1            婚姻         NaN
w2            教育         NaN
w6          个人收入         NaN

通过上表可得,多数产品在产品功效上更多关注用户的精神状态,抗皮肤衰老,再次为身体健康,最后为外界影响

## 统计收集到的每一种保健品的已婚未婚频数

In [13]:
result = data['w1'].value_counts()
result / result.sum()

2    0.7248
1    0.2752
Name: w1, dtype: float64

## 每种保健品的频数

In [16]:
products = {
    1: '太太**',
    2: '乌鸡**',
    3: '排毒**',
    4: '阿*',
    5: '红桃*',
    6: '脑白*',
    7: '朵**',
    9: '其他'
}
products = pd.Series(products)
result = pd.DataFrame({'products': products, 'q8': data['q8'].value_counts()})
result

  products   q8
1     太太**   55
2     乌鸡**   32
3     排毒**   83
4       阿*   40
5      红桃*   55
6      脑白*   23
7      朵**   55
9       其他  282

有结果可知,市场占有率最高的是'排毒'

## 研究每个产品功效的侧重点

In [19]:
result1 = pd.DataFrame()
for k, v in products.items():
    mask = data['q8'] == k
    result1[k] = sub_data[mask].mean()
result1

,1,2,3,4,5,6,7,9
q5_01,4.181818,3.87500,3.855422,3.625,3.745455,3.565217,3.636364,3.797872
q5_02,4.218182,4.03125,3.915663,3.550,3.890909,3.652174,4.127273,3.918440
q5_03,4.018182,4.03125,4.216867,3.900,4.272727,3.913043,4.200000,4.202128
q5_04,3.509091,3.37500,3.457831,2.650,3.109091,3.478261,3.290909,3.333333
q5_05,2.563636,2.84375,3.108434,1.925,2.945455,2.869565,3.163636,2.680851
q5_06,3.727273,3.21875,3.253012,3.200,2.854545,3.478261,3.527273,3.230496
q5_07,3.872727,3.78125,3.843373,3.325,3.400000,3.782609,3.872727,3.648936
q5_08,3.818182,4.03125,3.867470,3.200,3.272727,3.521739,3.690909,3.634752
q5_09,3.963636,3.53125,3.795181,3.550,3.472727,3.478261,3.745455,3.826241
q5_10,3.636364,3.81250,3.771084,3.775,4.000000,3.173913,4.090909,4.021277
q5_11,3.890909,3.87500,3.530120,3.450,3.890909,4.130435,3.836364,3.950355
q5_12,3.218182,2.90625,3.192771,2.325,3.254545,3.608696,3.309091,3.156028
q5_13,3.327273,3.59375,3.759036,3.000,2.818182,3.217391,3.672727,3.503546
q5_14,3.781818,3.62500,3.614458,3.525,3.181818,3.347826,3.563636,3.822695
q5_15,3.836364,4.15625,4.024096,3.900,4.000000,3.782609,3.872727,4.134752
q5_16,3.800000,4.46875,3.626506,3.525,4.109091,3.391304,4.072727,3.886525
q5_17,2.927273,2.71875,2.746988,2.225,3.090909,2.217391,3.036364,2.592199
q5_18,3.145455,3.46875,3.108434,2.575,3.200000,2.826087,3.272727,2.950355
q5_19,3.290909,3.37500,2.963855,2.725,3.218182,2.869565,3.072727,2.975177
q5_20,3.509091,3.78125,3.626506,2.375,3.109091,2.826087,3.254545,3.269504

In [22]:
# 获取每一列最大值索引
result_idxmax = result1.idxmax()
result_idxmax

1    q5_02
2    q5_16
3    q5_03
4    q5_03
5    q5_03
6    q5_11
7    q5_03
9    q5_03
dtype: object

In [23]:
result1 = pd.DataFrame({'product': products, 'qid': result_idxmax})
result1

  product    qid
1    太太**  q5_02
2    乌鸡**  q5_16
3    排毒**  q5_03
4      阿*  q5_03
5     红桃*  q5_03
6     脑白*  q5_11
7     朵**  q5_03
9      其他  q5_03

In [27]:
fields.sort_values('mean_score', ascending=False)

          effect  mean_score
fid
q5_03      精神状态好      4.1552
q5_15      提高免疫力      4.0320
q5_02     使皮肤有光泽      3.9328
q5_10       去除疲劳      3.9008
q5_16    应该对自己好点      3.8688
q5_11     提高睡眠质量      3.8448
q5_01      令面色红润      3.8048
q5_09     延缓皮肤衰老      3.7504
q5_07     解决皮肤干燥      3.6832
q5_14        抗衰老      3.6656
q5_08      调节内分泌      3.6432
q5_13       通便润肠      3.4384
q5_04         去斑      3.3056
q5_06         去皱      3.2768
q5_20     女为悦己者容      3.2752
q5_12      消除黑眼圈      3.1392
q5_18    同龄人都在服用      3.0368
q5_19  年轻人对我说该服用      3.0320
q5_05         去痘      2.7600
q5_17  希望自己像模特一样      2.6944
q8       主要服用的产品         NaN
w1            婚姻         NaN
w2            教育         NaN
w6          个人收入         NaN

In [33]:
def func(x):
    return fields.loc[x]['effect']


result1['effect'] = result1['qid'].apply(func)
result1

  product    qid   effect
1    太太**  q5_02   使皮肤有光泽
2    乌鸡**  q5_16  应该对自己好点
3    排毒**  q5_03    精神状态好
4      阿*  q5_03    精神状态好
5     红桃*  q5_03    精神状态好
6     脑白*  q5_11   提高睡眠质量
7     朵**  q5_03    精神状态好
9      其他  q5_03    精神状态好

#### 每个产品功效如图所示:
若希望切入保健品市场,优先保证精神状态

## 研究每个产品已婚未婚频数统计

In [39]:
result3 = pd.DataFrame()
for k, v in products.items():
    mask = data['q8'] == k
    result3[k] = data[mask]['w1'].value_counts()
result3 = result3.T
result3.columns = ['Married', 'Not-Married']
result3['product'] = products
result3['effect'] = result1['effect']
result3

   Married  Not-Married product   effect
1       50            5    太太**   使皮肤有光泽
2       21           11    乌鸡**  应该对自己好点
3       47           36    排毒**    精神状态好
4       39            1      阿*    精神状态好
5       24           31     红桃*    精神状态好
6       13           10     脑白*   提高睡眠质量
7       42           13     朵**    精神状态好
9      217           65      其他    精神状态好